// Заголовки, общие БЄМ блоки и проче...
.title-56 {
	font-family: 'Rubik';
	color: #000;
	font-weight: 700;
	@include adaptiveValue("font-size", 56, 30, $containerWidth, $minWidth, 1);
	line-height: 130%;
	text-transform: uppercase;
	@media(max-width: 1180px) and (min-width: 910px) {
		font-size: 40px;
	}
}
.title-36 {
	font-family: 'Rubik';
	color: #000;
	font-weight: 700;
	@include adaptiveValue("font-size", 36, 24, $containerWidth, $minWidth, 1);
	line-height: 140%;
	text-transform: uppercase;
}
.title-28 {
	font-family: 'Rubik';
	color: #000;
	font-weight: 700;
	@include adaptiveValue("font-size", 28, 24, $containerWidth, $minWidth, 1);
	line-height: 140%;
	text-transform: uppercase;
}
.text-32 {
	font-family: 'Lato';
	color: #000;
	font-weight: 400;
	@include adaptiveValue("font-size", 32, 20, $containerWidth, $minWidth, 1);
	line-height: 150%;
}
.text-24 {
	font-family: 'Lato';
	color: #000;
	font-weight: 400;
	@include adaptiveValue("font-size", 24, 16, $containerWidth, $minWidth, 1);
	line-height: 150%;
}
.text-20 {
	font-family: 'Lato';
	color: #000;
	font-weight: 400;
	@include adaptiveValue("font-size", 20, 16, $containerWidth, $minWidth, 1);
	@include adaptiveValue("line-height", 24, 24, $containerWidth, $minWidth, 1);
}
.text-16 {
	font-family: 'Lato';
	color: #000;
	font-weight: 400;
	@include adaptiveValue("font-size", 16, 16, $containerWidth, $minWidth, 1);
	@include adaptiveValue("line-height", 19, 19, $containerWidth, $minWidth, 1);
}
.text-12 {
	font-family: 'Lato';
	color: #000;
	font-weight: 400;
	@include adaptiveValue("font-size", 12, 12, $containerWidth, $minWidth, 1);
	line-height: 150%;
}
//========================================================================================================================================================
